<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--构造注入-->
    <bean id="stu_construct" class="demi.demos.pack03.Student">
        <constructor-arg name="name" value="ls"/>
        <constructor-arg name="age" value="23"/>
        <constructor-arg name="school" ref="mySchool"/>

    </bean>

    <!--引用数据类型对象-->
    <bean id="mySchool" class="demi.demos.pack03.School">
        <property name="sname" value="xihua university"/>
        <property name="addr" value="Chengdu, Sichuan" />
    </bean>
</beans>